body {
    background-color: rgb(238, 238, 238);
    display:flex;
    justify-content: center;
    padding-top:70px;
    
}

#container {
    width: 750px;
    display: flex;
    
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    
}

#box {
    background-color: rgb(153, 153, 153);
    padding: 75px;
    margin: 5px;
    
}

#box.toggle {
    background-color: rgb(51, 51, 51);
}